global:
  scrape_interval: 10s
  evaluation_interval: 10s

rule_files:
  - "/etc/prometheus/alert-rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter"
    static_configs:
      - targets:
          - "APP_NODE_1_PRIVATE_IP:9100"
          - "APP_NODE_2_PRIVATE_IP:9100"

  - job_name: "cadvisor"
    static_configs:
      - targets:
          - "APP_NODE_1_PRIVATE_IP:8080"
          - "APP_NODE_2_PRIVATE_IP:8080"
